{% extends 'base.html.twig' %}

{% block title %}Hello AdminController!{% endblock %}

{% block body %}

                            {{ include('admin/setting/_form.html.twig') }}

                            <a href="{{ path('setting_index') }}">back to list</a>

{% endblock %}