{% extends 'adminbase.html.twig' %}

{% block title %}Edit Category{% endblock %}

{% block body %}
<div class="container-fluid">
    <div class="page-wrapper">
        <div class="page-breadcrumb">
            <div class="row">
                <div class="col-12 d-flex no-block align-items-center">
                    <h4 class="page-title">Edit Category</h4>
                    <div class="ml-auto text-right">
                        <nav aria-label="breadcrumb">
                            <ol class="breadcrumb">
                                <li class="breadcrumb-item"><a href="#">Home</a></li>
                                <li class="breadcrumb-item active" aria-current="page">Edit</li>
                            </ol>
                        </nav>
                    </div>
                </div>
            </div>
        </div>
        <div class="container-fluid">
            <div class="row">
                <div class="col-12">
                    <div class="card">
                        <div class="card-body">
                            <h3>Category</h3>

                            {{ include('admin/category/_form.html.twig', {'button_label': 'Update'}) }}
                            <div class="col-md-2">
                                <a href="{{ path('admin_category_index') }}"><button type="button"
                                        class="btn btn-secondary">back</button></a>
                            </div>
                            <br>
                            {{ include('admin/category/_delete_form.html.twig') }}
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
{% endblock %}